body {
  background: rgb(245, 245, 245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}

h1 {
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}

h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
}

.card {
  text-align: center;
  color: #82431b;
}

a {
  color: #82431b;
}

a:hover {
  text-decoration: none;
  color: purple;
}

ul {
  text-align: center;
}
li {
  list-style: none;
}

img {
  display: block;
  margin-left: 90px;
}

#banner {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}
.card {
  padding: 50px;
  font-weight: lighter;
}

#github {
  font-style: italic;
  color: lightgrey;
  text-align: center;
}

#github:hover {
  color: yellow;
}
#footer p {
  font-style: monospace;
}
#footer li {
  color: lightgrey;
  font-size: 15px;
}
#footer li:hover {
  color: white;
}
